# Python (Виртуальное окружение)
venv/
ENV/
env/
.venv/

# Кэш Python
**/__pycache__/
*.py[cod]
*$py.class

# Секретные ключи (Очень важно!)
.env
keys.py
config.local.py
auth.json

# macOS системные файлы
.DS_Store
.AppleDouble
.LSOverride

# Настройки VS Code
.vscode/
!.vscode/settings.json
!.vscode/tasks.json
*.code-workspace

# Логи и база данных (если бот их пишет)
*.log
*.sqlite


